<nav>
  <ul>
    <li><a href="#">913-228-####</a></li>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/services">services</a>
      <ul>
        <li><a href="/services/airport">airport</a></li>
        <li><a href="/services/corporate">corporate</a></li>
        <li><a href="/services/prom">prom</a></li>
        <li><a href="/services/events">events</a></li>
        <li><a href="/services/funeral">funeral</a></li>
        <li><a href="/services/sporting">sporting</a></li>
      </ul>
    </li>
    <li><a href="/contact">contact</a></li>
  </ul>
</nav>