/*****************************************************************************/
/*
/* Partial Imports
/*
/*****************************************************************************/

@import "typography";
@import "header";
@import "footer";
@import "form";



/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

html {
  overflow-y: scroll;  
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


.content {
  float: left;
  width: 63%;
  padding-right: 2%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.left-border {
  float: left;
  width: 33%;
  padding-left: 2%;
  box-sizing: border-box;
  border-left: 1px solid black;
}

.site {
  font-size: 115%;
  width: 44em;
  margin: 0 auto;
}

.half {
  float: left;
  width: 46%;
  box-sizing: border-box;
}